body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: center;
}

.player-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.player-name-container {
    display: flex;
}

.player-name {

}

.edit-player-name-button {

}

.player-score {

}

.game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.game-message {

}

.new-game-button {

}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 16px;
}

.game-tile {
    background-color: lightblue;
    height: 100px;

}